@import '../../../sass/variables';
@import '../../../sass/mixins';

//local animation
@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  80%, 100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
.home {
  height: calc(100vh - 61px); // header size
  text-align: center;
  overflow: hidden;
}
.main-title {
  font-family: $font-default;
}
.main-title {
  @include verticalAlign(relative);
  color: #fff;
  font-size: 50px;
  margin: 0;
}
.tournament {
  background: rgba(0, 0, 0, .6);
  height: calc(100% - 20px); // margin size
  width: calc(100% - 20px); // margin size
  margin: 10px;
  box-sizing: border-box;
}

.steps {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
main-button {
  display: inline-block;
  margin: 20px;
}
.loading {
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &.is-loading img {
    animation: loading 1s infinite ease-out;
  }
}
