@import '../../../sass/variables';

.home {
  height: calc(100vh - 61px);
  text-align: center;
}
.main-title {
  font-family: $font-default;
}
.main-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 50px;
  margin: 0;
}