@import './fonts';

// Main colors
$main-color: #ba9c5e;
$main-background-color: #000;
$main-border-color: #262626;

// Secondary colors
$secondary-background-color: #121212;

// Generals
$font-default: 'frizquadrata_btbold';
$header-height: 61px;
