<aside class="sidebar" [ngClass]="{'open': AppState.sidebarIsOpen}">
  <div *ngIf="!tournament else tournamentEdit" (click)="createTournament()" class="button-area">
    <main-button text="Start new Tournament" size="small"></main-button>
  </div>
  <ng-template #tournamentEdit>
    <div class="team-areas" *ngFor="let team of tournament.teams">
        <div class="team-id">{{team.id}}</div>
        <input [name]="team.id" class="team-name" maxlength="14" [(ngModel)]="team.name">
    </div>
    <div class="team-validation" *ngIf="!getTeamNamesValidation()">
      Teams must have name
    </div>
    <main-button class="button-area" (click)="saveTournament()" text="Save" size="small"></main-button>
    <div class="system-tip">
      *Tip: Click the teams to set the winner.
    </div>
  </ng-template>
</aside>