<aside class="sidebar" [ngClass]="{'open': AppState.sidebarIsOpen}">
  <div *ngIf="!tournament else tournamentEdit" (click)="createTournament()" class="start-button-area">
    <main-button text="Start new Tournament" size="small"></main-button>
  </div>
  <ng-template #tournamentEdit>
    <div class="team-areas" *ngFor="let team of tournament.teams">
        <div class="team-id">{{team.id}}</div>
        <input [name]="team.id" class="team-name" [(ngModel)]="team.name">
    </div>
    <main-button text="Save" size="small"></main-button>
  </ng-template>
</aside>