@import '../../../sass/variables';

//local variable
$sidebar-width: 250px;
$sidebar-text: #fff;

.sidebar {
  background: $secondary-background-color;
  color: $sidebar-text;
  position: fixed;
  right: 0;
  width: $sidebar-width;
  top: $header-height;
  height: calc(100vh - 61px);
  transform: translateX($sidebar-width);
  transition: transform .3s;
  &.open {
    transform: translateX(0);
  }
}
.button-area {
  padding: 20px 0;
  border-bottom: 1px solid $main-border-color;
  width: 100%;
  display: inline-block;
}
.team-areas {
  padding: 10px 0;
  border-bottom: 2px solid $main-border-color;
}
.team-id {
  font-family: $font-default;
  font-size: 40px;
  vertical-align: middle;
  padding: 10px 0;
  color: $main-color;
  margin-right: 20px;
  display: inline-block;
}
.team-name {
  background: none;
  outline: none;
  color: $sidebar-text;
  width: 100px;
  text-align: center;
  padding: 5px;
  color: $main-color;
  border: {
    bottom: 1px solid $main-color;
    top: 0;
    left: 0;
    right: 0;
  }
}
.team-validation {
  display: inline-block;
  width: 100%;
  margin: 20px 0 0;
  color: #911515;
  font-family: Arial, Helvetica, sans-serif;
}
.system-tip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #cdcdcd;
  display: inline-block;
  margin-top: 20px;  
}